# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Installer logs
*pip-log.txt

# ignore dataset tarballs or large archives if any (uncomment if needed)
# *.tar.gz
